* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 2.5em;
    color: #333;
}

.produtos {
    margin-bottom: 30px;
}

.produtos h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

.produtos ul {
    list-style-type: none;
    padding: 0;
}

.produtos li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.produtos button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.produtos button:hover {
    background-color: #218838;
}

.carrinho {
    margin-top: 30px;
}

.carrinho h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

.carrinho ul {
    list-style-type: none;
    padding: 0;
}

.carrinho li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.carrinho button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
}

.carrinho button:hover {
    background-color: #c82333;
}

.total {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.esvaziar {
    background-color: #ffc107;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
}

.esvaziar:hover {
    background-color: #e0a800;
}

footer {
    text-align: center;
    margin-top: 50px;
    color: #777;
}